<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">
            <p>My name is Andrew Russell and this is my coding blog. Not the most exciting opening, or site for that matter, but it's a place to start</p>
            <p>Coding is the most recent skill I've added, one more on an already long and random list. Need a survey to sell a house, I can help. Suddenly missing a crucial person in your play, I'm there. Want to open a restuarant, sure why not!</p>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="~/Scripts/jquery.min.js"></script>


<!-- Custom scripts for this template -->
<script src="~/Scripts/clean-blog.min.js"></script>


<script>
    $(document).ready(function () {
        var imageUrl = "/Images/about-bg.jpg";
        $(".masthead").css("background-image", "url(" + imageUrl + ")");
        $('#topText').text("About Andrew");
        $('#subText').text("Just a bit about me");
    });
</script>
